<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Flower Shop - free website template, HTML CSS</title>
    <meta
      name="keywords"
      content="free website template, flower shop, website templates, CSS, HTML"
    />
    <meta
      name="description"
      content="Flower Shop - free website template, W3C compliant HTML CSS layout"
    />
    <link href="~/css/templatemo_style.css" rel="stylesheet" type="text/css" />
    <!--  Free CSS Template | Designed by TemplateMo.com  -->
  </head>
 <body>
     <div id="templatemo_container">
          <div id="templatemo_top_panel">
        <div id="templatemo_language_section">
          <a href="#"
            ><img src="images/templatemo_banner_bg.jpg" alt="flag 1"
          /></a>
          <a href="#"
            ><img src="images/templatemo_flag_02.gif" alt="flag 2"
          /></a>
          <a href="#"
            ><img src="images/templatemo_flag_03.gif" alt="flag 3"
          /></a>
          <a href="#"
            ><img src="images/templatemo_flag_04.gif" alt="flag 4"
          /></a>
          <a href="#"
            ><img src="images/templatemo_flag_05.gif" alt="flag 5"
          /></a>
        </div>
        <div id="templatemo_shopping_cart">
          Shopping Cart <span>(<a href="#">3 items</a>)</span>
        </div>
      </div>

      <div id="templatemo_header">
        <img src="images/templatemo_site_header.jpg" alt="Flower Shop" />
      </div>

      <div id="templatemo_banner">
        <a href="#"
          ><img
            src="images/templatemo_banner_image.jpg"
            alt="Flower Shop - Free Web Template"
            title="Flower Shop - Free Web Template"
            border="0"
        /></a>
      </div>
      </div>

      <div id="templatemo_menu_panel">
        <ul>
          <li><a href="#" class="current">Home</a></li>
          <li>
            <a href="http://www.templatemo.com" target="_parent">Features</a>
          </li>
          <li>
            <a href="http://www.templatemo.com/page/1" target="_parent"
              >Gallery</a
            >
          </li>
          <li>
            <a href="http://www.templatemo.com/page/2" target="_parent"
              >Templates</a
            >
          </li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
 </body>